*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/assets/WPA-password-dictionary
*.hprof
/.idea/.name
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/Layer 5.png
/Layer 6.png
/Layer 7.png
/Layer 8.png
/app/release/output-metadata.json
/.idea/shelf/Uncommitted_changes_before_Update_at_8_10_2025_2_41_AM_[Default]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_8_14_2025_6_45_PM_[Default]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_8_10_2025_2_41_AM__Default_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_8_14_2025_6_45_PM__Default_.xml
/.idea/git_toolbox_prj.xml

.ideaz/
